<h1>
    <%= title %>
</h1>

<% if (messages && messages.length) { %>
    <% messages.forEach(function(msg) { %>
        <div class="flash-message">
            <%= msg %>
        </div>
        <% }) %>
            <% } %>

        <section class="account-management">
            <h2>Welcome <%= accountData.account_firstname %>!</h2>
            <p>You're logged in</p>
            <ul>
                <li><a href="/account/edit">Edit Account Information</a></li>
            </ul>
        </section>