<header>
    <a href="/">
        <h1>CSE Motors</h1>
    </a>

    <% if (loggedin) { %>

        <a title="Click to log out" href="/account/logout">
            Welcome, <%= accountData.account_firstname %> – Log out
        </a>
        <% } else { %>
            <a title="Click to log in" href="/account/login">My Account</a>
            <% } %>
</header>