<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <% classifications.forEach(category=> { %>
            <li>
                <a href="/inventory/<%= category.classification_name.toLowerCase() %>"
                    title="See our <%= category.classification_name %> inventory">
                    <%= category.classification_name %>
                </a>
            </li>
            <% }) %>

    </ul>
</nav>