<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory/Custom">Custom</a></li>
        <li><a href="/inventory/Sport">Sport</a></li>
        <li><a href="/inventory/SUV">SUV</a></li>
        <li><a href="/inventory/Truck">Truck</a></li>
        <li><a href="/inventory/Sedan">Sedan</a></li>
    </ul>
</nav>