<h1>Welcome to CSE MOTORS!</h1>
<% if (messages.error && messages.error.length) { %>
  <p><%= messages.error[0] %></p>
<% } %>

    <section class="hero">
        <div class="hero-grid">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman Doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <img src="/images/site/own_today.png" alt="Own Today">
        </div>
    </section>

    <section class="info">
        <div>
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-item">
                <div>
                    <img class="item" src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" height="70">
                    <a href="flux.html">Flux Capacitor</a>
                </div>
                <div>
                    <img class="item" src="/images/upgrades/flame.jpg" alt="Flame Decals" height="70">
                    <a href="flame.html">Flame Decals</a>
                </div>
                <div>
                    <img class="item" src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" loading="lazy"
                        height="70" width="210">
                    <a href="bumper.html">Bumper Stickers</a>
                </div>
                <div>
                    <img class="item" src="/images/upgrades/hub-cap.jpg" alt="Hub Cap" height="70" width="200">
                    <a href="hubcaps.html">Hub Caps</a>
                </div>
            </div>
        </div>

        <div>
            <h2>DMC Delorean Reviews</h2>
            <div class="reviews">
                <ul>
                    <li>"So Fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's style and functionality in one package." (4/5)</li>
                </ul>
            </div>
        </div>
    </section>