/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/site/small_check.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1%;
}
.container {
  background-color: white;
  margin: 20px;
  padding: 20px;
  min-height: 100vh;
  border: 6px solid #4c96d7;
  border-radius: 1%;
}

/********** Header Styles **********/
header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px 10px;
  text-align: left;
  font-family: 'Arial', sans-serif;
  background-color: white;
}

header h1 {
  margin: 0;
  color: black;
  background-color: white;
}

header a {
  text-decoration: none;
  color: #333;
  padding-top: 8px;
}
/********** Navigation Styles **********/
nav {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 10px 20px;
  margin: 0 50px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10% 40%;
}

nav ul li a:hover {
  text-decoration: underline;
}

/********** Index Section **********/
main {
  background-color: white;
  padding: 50px;
  margin: 0 5px;
}

/********** Hero Section **********/
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 100vh * 0.3);
  padding-left: 0.5rem;
  background-image: url("../images/vehicles/delorean.jpg");
  background-size: 760px auto;
  background-position: right center;
  background-repeat: no-repeat;
}

.hero img {
  width: 50%;
  justify-self: left;
  padding-left: 5%;
}

.hero h1 {
  font-size: 3rem;
  padding-top: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-grid {
  display: block;
  width: 65%;
  padding: 0.3rem;
  background-color: rgb(255 255 255 / 50%);
}

.hero h2 {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  color: #4c96d7;
  grid-column: 1 / 3;
  padding-left: 5%;
}

.hero ul {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: #4c96d7;
  list-style: none;
  grid-column: 1 / 3;
  padding-left: 5%;
}

/********** Info Styles **********/
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.upgrade-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.item {
  background-color: #4c96d7;
  border: 0.5px solid black;
  padding: 5px 70px 5px 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upgrade-item a {
  font-size: 1rem;
  color: blue;
  padding: 0 0 10px 65px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.reviews {
  grid-column: 1 / 3;
  text-align: left;
}

.reviews li {
  font-size: 1rem;
  line-height: 2.7;
  font-family: Arial, Helvetica, sans-serif
}

/********** Footer Styles **********/
footer {
  background-color: white;
  text-align: left;
  padding-top: 3px;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}
 /********** Vehicle Details Styles **********/
.vehicle-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.vehicle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #cccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.vehicle-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.vehicle-price {
  color: black;
  font-size: 16px;
}

.vehicle-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: #000000 2px solid;
}

/********** Vehicle Detail **********/
.vehicle-detail {
  display: grid;
  grid-template-columns: 500px 1fr;
   grid-template-areas:
    "title title"
    "image text";
  gap: 50px;
  margin: 50px;
}

.vehicle-detail h1 {
  grid-area: title;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #000000;
}

.vehicle-detail h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.vehicle-img {
  grid-area: image;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.vehicle-detail-text {
  grid-area: text;
}

.vehicle-detail p {
  font-size: 1rem;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

/********** Responsive Mobile Styles **********/
@media screen and (max-width: 600px) {
  body {
      background-image: none;
  }

  main {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: none;
  }

  .hero {
    grid-template-columns: 1fr;
    height: 55vh;
    background-size: cover;
    background-position: center top;
  }

  .hero img {
    width: 55%;
    justify-self: left;
    padding-left: 0.2rem;
  }

  .hero h1 {
    font-size: 0.5rem;
    padding-top: 0.52rem;
    text-align: center;
  }

  .hero-grid {
    background-color: rgb(255 255 255 / 70%);
    margin: auto 1% 30% 1%;
    width: 35%;
  }

  .hero h2,
  .hero ul {
    text-align: left;
    padding-left: 0;
    font-size: 1.3rem;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .upgrade-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    margin: 5px;
    padding: 5px;
    justify-items: center;
  }

  nav ul {
      margin: 0 10px;
      gap: 15px;
  }

  footer {
    text-align: left;
    padding-top: 20px;
    font-size: 0.8rem;
  }
  
  .vehicle-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .vehicle-card {
    margin: 0 auto;
    width: 95%;
  }

  .vehicle-img {
    height: auto;
  }

  .vehicle-info {
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  
  .vehicle-detail {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "image"
        "text";
      gap: 20px;
      margin: 0 auto;
      max-width: 600px;
      padding: 20px;
  }

  .vehicle-detail h1 {
    font-size: 1.5rem;
  }
  .vehicle-detail h2 {
    font-size: 1.2rem;
  }
 }